.example-form {
  width: 100%;
  padding-left: 10px;
  padding-top: 15px; 
}

.example-full-width {
  width: 70%;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}