<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Github Search</span>
  </mat-toolbar-row>
</mat-toolbar>


<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username or Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>cancel</mat-icon>
    </button>
    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error> -->
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Username or Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="getUserInfo()">Search</button>
</form>

<mat-card class="example-card" *ngIf="userLoaded">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{user.login}}</mat-card-title>
    <mat-card-subtitle><a [href]="user.html_url">User Profile</a></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="user.avatar_url" alt="Profile Picture">
  <mat-card-content>
    <p>
      {{user.bio}}
    </p>
    <mat-card-title><a [href]="user.repos_url">{{user.public_repos}} Public Repos</a></mat-card-title>
    <div>
      <div>Joined {{user.created_at | date:"medium":'+0'}}</div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{user.followers}} Followers</button>
    <button mat-button>{{user.following}} Following</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card" *ngIf="notFound">
  <img mat-card-image src="https://goodfriendlights.com/clients/goodfriendelectric/OopsNotFound.jpg" alt="Profile Picture">
</mat-card>